!!! 5
%html{ :lang => "en"}
  %head
    %title
      Toxosis
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => "" }
    %meta{ :name => 'keywords', :content => "" }
    = stylesheet_link_tag :flutie, 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      .row
        .column.grid_12
          %h1
            %a{ :href => '/', :title => "" } Toxosis
      .row
        .column.grid_12
          %h2 Find chemical spills near you
    - flash.each do |key, value|
      .row{ :class => key } 
        .column.grid_12
          = value
    #content
      .row
        .column.grid_12
          %p
            %form{ :action => '/search', :method => 'get'}
              %label{ :for => 'q'} Enter your zip code:
              %input{ :type => 'text', :id => 'q', :name => 'q', :value => params.fetch(:q, '') }
              %input{ :type => 'submit', :value => 'Search'}

      .row
        .column.grid_12
          =yield
    #footer
      .row
        .column.grid_12
          %hr
          %p
            &copy; 2011 Toxosis.
            Powered by 
            %a{ :href => 'http://heroku.com' } Heroku
            and
            %a{ :href => 'http://indextank.com' } IndexTank          
            
